<!DOCTYPE html>
{% load static %}
<!--<html lang="en-us" >-->
<head>
<title>Log in | Smart Delivery To Nokia</title>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"  />
<link rel="stylesheet" type="text/css" href="{% static  'admin/css/login.css' %}" />
</head>
<body class=" login" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
<h1 id="site-name"  style="text-align:center;" ><a href="javascript:void(0);">Smart Delivery To Nokia</a></h1>

        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
<div id="content" class="colM">

 <div id="content-main">

{% for item in er %}
		<p style="color:red;">{{item}}</p>
{% endfor %}

  <form action="" method="post" id="login-form">
    {% csrf_token %}
  <div class="form-row">
    <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus required id="id_username" maxlength="254"/>
  </div>
  <div class="form-row">

    <label class="required" for="id_password">Password:</label> <input type="password" name="password" required id="id_password"  />

  </div>
  <div class="submit-row">
    <input type="submit" value="Sign in" />
  </div>

  <div class="form-row" align="center">

  </div>


   <div class="form-row" align="center">
       <a href="/forget_password/">forget password ?</a>
  </div>
</form>

</div>


        <br class="clear" />
</div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
