{% extends 'base.html' %}
{% load static %}
{% block title %}Smart Delivery To Nokia{% endblock %}

{% block css %}

<!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
  <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <style>
    table{
         table-layout:fixed;
        }
        table tr td{
        word-wrap:break-word;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        }
        table tr td:hover{
           overflow: visible;
           white-space: normal;
        }
        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc{
                background-image:none;
          }
  </style>

{% endblock %}

{% block content %}
    <section class="content-header">
      <h1>
      Create new Shipment
        <small>创建货运单</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Main</a></li>
        <li class="active">Create new Shipment</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
    <div class="col-xs-12">

      <div class="box">
         <!--/.box-header -->
        <div class="box-body">

           <!--   <input id="addOrder" type="text">-->

          <form action="/collec/createOrder/" method="post">
              {% csrf_token %}
              <input hidden="hidden" type="text" id="receive_user" name="receive_user">
              <strong>Shipment ID:</strong><input id="addOrder" name="Order" type="text" style="width:160px;" value="{{generateorder}}" required readonly="readonly" >
            <br>
            <br>
           <table  class="table table-bordered table-striped">
            <thead>
             <tr>
              <!--<th>index</th>-->
              <th>Purchase Order <br>
                  <span>(合同号)</span></th>
              <th>Packages Qty <br>
              <span>(包裹数量)</span></th>
              <th>Gross Weight
              <span>(重量)</span><br>
                   <small>(KG)</small></th>
              <th>Volume
               <span>(体积)</span><br>
               <small>(CM)</small></th>
              <th>Forwarder <br>
               <span>(承运商)</span><br>
              </th>
              <th>Tracking NO.
                <span>(运单号)</span><br>
                <small>(AWB/DN)</small></th>
              <th>Ship from
                <span>(发货方)</span><br>
                <small>(Location/Email/Phone)</small></th>
              <th>Ship to
                <span>(接收方)</span><br>
                <small>(Location/Email/Phone)</small></th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td><textarea id="PO"    name="PO"  style="height: 95px;width: 100%;resize: none;" required></textarea></td>
                <td><textarea id="Packages" name="Packages"  style="height: 95px;width: 100%;resize: none;" required></textarea></td>
                <td><textarea id="GrossWeight" name="GrossWeight" style="height: 95px;width: 100%;resize: none;" required></textarea></td>
                <td><textarea id="Volume"  name="Volume"  style="height: 95px;width: 100%;resize: none;" required></textarea></td>
                <td><textarea id="Forwarder" name="Forwarder" style="height: 95px;width: 100%;resize: none;" required></textarea></td>
                <td><textarea id="Tracking" name="Tracking" style="height: 95px;width: 100%;resize: none;" required></textarea></td>
                 <td><input id="shipfromcompany" name="shipfromcompany"  style="height: 23px;width: 100%;resize: none;" required   value="{{request.user.extenduser.Country}}" readonly="readonly"><br>
                     <input id="shipfromcity" name="shipfromcity"  style="height: 23px;width: 100%;resize: none;" required   value="{{request.user.extenduser.City}}" readonly="readonly"><br>
                     <input id="shipfromcontact" name="shipfromcontact" style="height: 23px;width: 100%;resize: none;" required   value="{{request.user.email}}" readonly="readonly"><br>
                     <input id="shipfromphone" name="shipfromphone" style="height: 23px;width: 100%;resize: none;" required  value="{{request.user.extenduser.Phone}}" readonly="readonly">

                 </td>

                <td  id="ddtu">
                    <select style="height: 23px;width: 100%;resize: none;"  id="select2" onchange="selectOnchang(this)">
                         <option value ="0" ></option>
                        {% for receive in receives %}
                          <option value ="{{ receive.username }}" >{{ receive.username }}</option>
                        {% endfor %}

                    </select>
                </td>

            </tr>

            </tbody>
          </table>
            <table  id="table2" class="table table-bordered table-striped">
                   <thead>
                        <tr>
                            <th style="width:25px;"><input type="checkbox"></th>
                          <th style="width:45px;">index</th>
                          <th>Product Category(产品分类)</th>
                          <th>Part Number(产品型号)</th>
                          <th>Product Description(产品描述)</th>
                          <th>Serial NO.(序列号)/<br>
                              Delivery Methods(交付方式)</th>
                          <th>Quantity(数量)</th>
                        </tr>
                   </thead>
                   <tbody>
                        <tr>
                            <td><input type="checkbox" name="check"></td>
                            <td style="width:40px;">1</td>
                            <td> <select style="width:100%;height:26px;" name="loc" id="select1" onclick="SelectFun(this)" >
                                    <option  class="consumables">Consumables</option>
                                    <option  class="equipment">Equipment</option>
                                    <option class="swlicense">SW license</option>
                                    <option class="services">Services</option>
                                    <option class="others">Others</option>
                                 </select>
                            </td>
                            <td><input type="text" name="PartNo" style="width:100%;" required></td>
                            <td><input type="text" name="ProductDescription" style="width:100%;" required></td>
                            <td><input id="sns1" type="text" name="SN" style="width:100%;"    readonly="readonly" value="N/A"></td>
                            <td><input id="qtys1" type="text" name="Qty" style="width:100%;" required></td>
                        </tr>
                   </tbody>
               </table>

            <br>
            <div align="center">
                <input type="button" value="add Item" onclick="addRowg()">
                <input type="button" value="delete Item" onclick="delRow()">
            </div>
            <br>
            <div align="center" >
                <h5 id="vendorcomments">vendor comments:</h5>
                <textarea name="vendorcomments"   style="height: 100px;width: 600px;resize: none;"></textarea>
            </div>
            <br>
            <div align="center">
                <button  id="addOrdersave" type="submit" name="save" >Create</button>
                <button  id="addOrdersubmit" type="button"  name="submit"  data-toggle="modal" onclick="confirmInfo()">Sent</button>
                <div style="display:none;"><button  id="formsubmit" type="submit" name="submit">formsubmit</button></div>
            </div>
          </form>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>


   <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog" style="width:1000px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">

				</button>
				<h4 class="modal-title" id="myModalLabel">
					Send Confirm
				</h4>
			</div>
			<div class="modal-body">

				<table   id="table_1" class="table table-bordered table-striped">
                    <thead>
						<tr>
							<th>Purchase Order</th>
							<th>Packages Qty</th>
                            <th>Gross Weight</th>
                            <th>Volume</th>
                            <th>Forwarder</th>
                            <th>Tracking NO.</th>
                            <th>Ship from </th>
                            <th>Ship to </th>
						</tr>
                    </thead>
					<tbody>
					</tbody>
				</table>
                <br>
                <table   id="table_2" class="table table-bordered table-striped">
                    <thead>
						<tr>
                            <th>Product Category</th>
							<th>Part Number</th>
							<th>Product Description</th>
                            <th>Serial NO./Delivery Methods</th>
                            <th>Quantity</th>
						</tr>
                    </thead>
					<tbody>
					</tbody>
				</table>

			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancle
				</button>
				<button type="button" class="btn btn-primary" onclick="SendOrder()">
					Confirm
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
    <!-- DataTables -->

	<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>-->
    <!--<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>-->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.treeview.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>


          function SendOrder(){
              $('#myModal').modal('hide');
              document.getElementById('formsubmit').click();

        }

        function SelectFun(event){
                var id =event.id;
                var num = id.slice(6);
                var selectVal = $('#select'+num).val();

                if(selectVal =='Consumables'){
                    $('#qtys'+num).removeAttr('readonly');
                    $('#qtys'+num).attr('value','');
                    $('#sns'+num).replaceWith('<input'+' id='+'"'+'sns'+num+'"'+'type="text" name="SN" style="width:100%;" required >');
                    $('#sns'+num).attr('readonly','readonly');
                    $('#sns'+num).attr('value','N/A');
                }else if(selectVal =='Equipment'){
                     $('#sns'+num).replaceWith('<input'+' id='+'"'+'sns'+num+'"'+'type="text" name="SN" style="width:100%;" required >');
                     $('#sns'+num).removeAttr('readonly');
                     $('#sns'+num).attr('value','');
                     $('#qtys'+num).attr('readonly','readonly');
                     $('#qtys'+num).attr('value','1');
                }else if(selectVal =='SW license'){
                     $('#sns'+num).removeAttr('readonly');
                     $('#sns'+num).attr('value','');
                     $('#sns'+num).replaceWith('<textarea'+' id='+'"'+'sns'+num+'"'+'name="SN" style="height:26px;width: 100%;resize:none;"  required></textarea>');
                     $('#qtys'+num).removeAttr('readonly');
                     $('#qtys'+num).attr('value','');

                }else if(selectVal =='Services'){
                     $('#sns'+num).removeAttr('readonly');
                     $('#sns'+num).attr('value','');
                     $('#sns'+num).replaceWith('<textarea'+' id='+'"'+'sns'+num+'"'+'name="SN" style="height:26px;width: 100%;resize:none;"  required></textarea>');
                     $('#qtys'+num).removeAttr('readonly');
                     $('#qtys'+num).attr('value','');
                }else{
                     $('#sns'+num).removeAttr('readonly');
                     $('#sns'+num).attr('value','');
                     $('#sns'+num).replaceWith('<textarea'+' id='+'"'+'sns'+num+'"'+'name="SN" style="height:26px;width: 100%;resize:none;"  required></textarea>');
                     $('#qtys'+num).removeAttr('readonly');
                     $('#qtys'+num).attr('value','');
                }

        }

     function selectOnchang(event){
         var  optionValue = event.value;
         $('#receive_user').attr('value',optionValue);
          $.ajax({
                url:'/collec/ajax_getOption/',
                data:{'optionvalue':optionValue},
                success:function(data){
                      data = JSON.parse(data);
                      $('#select2').replaceWith('<input  id="shiptocompany" name="shiptocompany" style="height: 23px;width: 100%;resize: none;" required  value='+'"'+data['country']+'"'+'placeholder="Country"><br>')
                      $('#ddtu').append('<input id="shiptocity" name="shiptocity"  style="height: 23px;width: 100%;resize: none;" required  value='+'"'+data['city']+'"'+'placeholder="City"><br>')
                      $('#ddtu').append('<input  id="shiptocontact" name="shiptocontact" style="height: 23px;width: 100%;resize: none;" required value='+'"'+data['email']+'"'+'placeholder="Email"><br>')
                      $('#ddtu').append('<input  id="shiptophone" name="shiptophone"    style="height: 23px;width: 100%;resize: none;" required value='+'"'+data['phone']+'"'+' placeholder="Phone">')

                }
          });

      }

        function confirmInfo(){

              var po=$('#PO').val();
              var packages=$('#Packages').val();
              var grossweight=$('#GrossWeight').val();
              var volume=$('#Volume').val();
              var forwarder=$('#Forwarder').val();
              var tracking=$('#Tracking').val();
              var shipfromcompany = $('#shipfromcompany').val();
              var shipfromcity = $('#shipfromcity').val();
              var shipfromcontact = $('#shipfromcontact').val();
              var shipfromphone = $('#shipfromphone').val();

              var shiptocompany = $('#shiptocompany').val();
              var shiptocity = $('#shiptocity').val();
              var shiptocontact = $('#shiptocontact').val();
              var shiptophone = $('#shiptophone').val();
              var shipfrom=shipfromcompany+'/'+shipfromcity+'/'+shipfromcontact+'/'+shipfromphone
              var shipto=shiptocompany+'/'+shiptocity+'/'+shiptocontact+'/'+shiptophone

              var partnos= document.getElementsByName('PartNo');
              var productdescriptions= document.getElementsByName('ProductDescription');
              var sns= document.getElementsByName('SN');
              var qtys= document.getElementsByName('Qty');
              var selectOp= document.getElementsByName('loc');

              $('#table_1 tbody').replaceWith('<tbody></tbody>')
              $('#table_2 tbody').replaceWith('<tbody></tbody>')

              $('#table_1 tbody').append('<tr>'+
              '<td>'+po+'</td>'+
             '<td>'+packages+'</td>'+
             '<td>'+grossweight+'</td>'+
             '<td>'+volume+'</td>'+
             '<td>'+forwarder+'</td>'+
             '<td>'+tracking+'</td>'+
             '<td>'+shipfrom+'</td>'+
             '<td>'+shipto+'</td></tr>')

             for(var i=0;i<partnos.length;i++){
                  $('#table_2 tbody').append('<tr>'+
                     '<td>'+selectOp[i].value+'</td>'+
                     '<td>'+partnos[i].value+'</td>'+
                     '<td>'+productdescriptions[i].value+'</td>'+
                     '<td>'+sns[i].value+'</td>'+
                     '<td>'+qtys[i].value+'</td>'+
                  '</tr>')
             }
              $('#myModal').modal('show');



        }

     var lineLength = 1;

     function addRowg(){
        lineLength = lineLength+1;
        var newTr = table2.insertRow();
        var newTd = newTr.insertCell();
        newTd.innerHTML = '<td><input name="check" type="checkbox"></td>'
        var newTd0 = newTr.insertCell();
        newTd0.innerHTML = '<td style="width:40px;">'+lineLength+'</td>';
        var newTd5 = newTr.insertCell();
        newTd5.innerHTML = '<td><select style="width:100%;height:26px;" onclick="SelectFun(this)" name="loc"'+'id='+'"'+'select'+lineLength+'"'+'>'+
                                    '<option class="consumables">Consumables</option>'+
                                    '<option class="equipment">Equipment</option>'+
                                    '<option class="swlicense">SW license</option>'+
                                    '<option class="services">Services</option>'+
                                    '<option class="others">Others</option>'+
                                 '</select></td>'
        var newTd1 = newTr.insertCell();
        newTd1.innerHTML = '<td><input type="text" name="PartNo" style="width:100%;"  required></td>';
        var newTd2 = newTr.insertCell();
        newTd2.innerHTML =  '<td><input type="text" name="ProductDescription" style="width:100%;"  required></td>';
        var newTd3 = newTr.insertCell();
        newTd3.innerHTML =  '<td><input type="text" id='+'"'+'sns'+lineLength+'"'+'name="SN"  readonly="readonly" value="N/A" style="width:100%;"  required></td>';
        var newTd4 = newTr.insertCell();
        newTd4.innerHTML =  '<td><input type="text"  id='+'"'+'qtys'+lineLength+'"'+'name="Qty" style="width:100%;"  required></td>';


    }


   function delRow(){
    var tab=document.getElementById("table2");
    var leng=document.getElementById("table2").rows.length;
    var chk=document.getElementsByName("check");
    for(var i=leng-2;i>=0;i--){
        if(chk[i].checked){
            tab.deleteRow(i+1);
        }
    }
}

    </script>
{% endblock %}