{% extends 'base.html' %}
{% load static %}
{% block title %}Smart Delivery To Nokia{% endblock %}

{% block css %}

<!-- DataTables -->
  <!--<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">-->
 <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
<style>
        td.details-control {
            text-align:center;
            color:forestgreen;
            cursor: pointer;
        }
        tr.shown td.details-control {
            text-align:center;
            color:red;
        }
        table{
           table-layout:fixed;
        }
        table tr td{
            word-wrap:break-word;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        table tr td:hover{
           overflow: visible;
           white-space: normal;
        }
        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc{
                background-image:none;
          }
    .tip {
        display:block;
        background:#f00;
        border-radius:49%;
        width:8px;
        height:8px;
        top:0px;
        right:0px;
        position:absolute;
}
.span {
    position:relative;
	padding:px;
}

</style>

{% endblock %}

{% block content %}

    <!--&lt;!&ndash; Content Header (Page header) &ndash;&gt;-->
    <section class="content-header">
      <h1>
       Shipment List
        <small>货运单列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Main</a></li>
        <li class="active">Shipment List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
       <div class="box">
        <!-- /.box-header -->
        <div class="box-body">

         <table style="width:100%;text-align:center;" class="display" id="example" cellspacing="0">
                  <thead>
                    <tr>
                        <th></th>
                         <th>Index</th>
                        <th>Status<br>(状态)</th>
                        <th>ShipmentID<br>(运单ID)</th>
                        <th>Ship from<br>(发送方)</th>
                        <th>Ship to<br>(接收方)</th>
                        <th>Purchase Order<br>(合同号)</th>
                        <th>Forwarder<br>(承运商)</th>
                        <th>Gross Weight<br>(重量)</th>
                        <th>Volume<br>(体积)</th>
                        <th>Tracking NO.<br>(货运单号)</th>
                        <th>Packages Qty<br>(包裹数量)</th>
                        <th>Sent Time<br>(发送时间)</th>
                        <th>Receive Time<br>（接收时间）</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Index</th>
                        <th>Status</th>
                        <th>Shipment ID</th>
                        <th>Ship from</th>
                        <th>Ship to</th>
                        <th>Purchase Order</th>
                        <th>Forwarder</th>
                        <th>Gross Weight</th>
                        <th>Volume</th>
                        <th>Tracking NO.</th>
                        <th>Packages</th>
                        <th>Sent Time</th>
                        <th>Receive Time</th>
                    </tr>
                </tfoot>
            </table>


        </div>
        <!-- /.box-body -->
      </div>

      <!-- /.box -->
    </div>
    <!-- /.col -->
        </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}"></script>
    <!-- page script -->
    <script>
         $(document).ready(function () {

         var table = $('#example').DataTable({
             "ajax": '/collec/ajaxsubmited/',
             select:"single",
             "order": [[ 1, 'asc' ]],
             "columns": [
                 {
                     "className": 'details-control',
                     "orderable": false,
                     "data": null,
                     "defaultContent": '',
                     "render": function (data,type,row,meta) {
                         return '<i class="fa fa-plus-square span ispan" id='+'"'+'status'+meta.row+'"'+'aria-hidden="true"></i>';
                     },
                     width:"15px"
                 },
                  {
                     "targets": 1,
                     "data": null,
                     "defaultContent": '',
                    "render":function(data,type,row,meta){
                        var startIndex = meta.settings._iDisplayStart;
                         return startIndex+meta.row+1;
                     },
                     width:"20px"
                 },
                 { "data": "orderreceiveButton" },
                 { "data": "orderId",
                   "render":function(data,type,row,meta){

                      {% for ordd in receiveComments %}
                            var oddid ='{{ordd.orderId}}';
                            if(data == oddid){
                                $('#status'+meta.row).attr('id','status'+oddid)
                                $('#status'+oddid).append("<i class='tip'></i>");
                            }
                      {% endfor %}
                      return data;
                   }
                   },
                 { "data": "Shipfrom"  },
                 { "data": "Shipto" },
                 { "data": "PO"},
                 { "data": "Forwarder" },
                 { "data": "GrossWeight" },
                 { "data": "Volume" },
                 { "data": "Tracking" },
                 { "data": "Packages" },
                 { "data": "sendOrder_time"},
                 { "data": "receiveOrder_time"}
             ]


         });


         // Add event listener for opening and closing details
         $('#example tbody').on('click', 'td.details-control', function () {
             var tr = $(this).closest('tr');
             var tdi = tr.find("i.fa");
             var row = table.row(tr);

             if (row.child.isShown()) {
                 // This row is already open - close it
                 row.child.hide();
                 tr.removeClass('shown');
                 tdi.first().removeClass('fa-minus-square');
                 tdi.first().addClass('fa-plus-square');
             }
             else {

                 row.child(format(row.data())).show();
                 tr.addClass('shown');
                 tdi.first().removeClass('fa-plus-square');
                 tdi.first().addClass('fa-minus-square');
             }
         });

         table.on("user-select", function (e, dt, type, cell, originalEvent) {
             if ($(cell.node()).hasClass("details-control")) {
                 e.preventDefault();
             }
         });
     });

function format ( rowData ) {
    var dit = $('<div/>')
        .addClass( 'loading' )
        .text( 'Loading...' );

    $.ajax( {
        url: '/collec/submitedassetajax/',
        data: {"orderId":rowData.orderId},
        success: function ( dats ) {
            dit.html('<div  style="padding-left:93px;"'+'id='+'"'+'ddv'+rowData.orderId+'"'+'><table style="width:100%;text-align:center;" class="display"'+'id='+'"'+rowData.orderId+'"'+'>'+
        '<thead>'+
            '<tr>'+
                '<th>Index</th>' +
                '<th>Category</th>' +
                '<th>Part Number</th>' +
                 '<th>Product Description</th>' +
                 '<th>Serial NO./Delivery Methods</th>' +
                 '<th>Sent Quantity</th>' +
                 '<th>Receive Quantity</th>' +
            '</tr>'+
        '</thead>'+
        '<tbody >'+
         '</tbody>'+
    '</table></div>').removeClass( 'loading' );

     jt  =JSON.parse(dats)
     dat = jt.data;
      for(var i=0;i<dat.length;i++){
          count =i;
          count =count+1;
        $('#'+rowData.orderId+' tbody').append('<tr>' +
                 '<td>' + count+ '</td>' +
                 '<td>' + dat[i].Category+ '</td>' +
                 '<td>' + dat[i].PartNo + '</td>' +
                 '<td>' + dat[i].ProductDescription+ '</td>' +
                 '<td>' +dat[i].SN + '</td>' +
                 '<td>' + dat[i].Qty + '</td>' +
                 '<td>'+dat[i].receiveQty+'</td>' +
             '</tr>');
      }

      if (rowData.orderreceiveButton == 'shipped'){
              $('#'+'ddv'+rowData.orderId).after('<div style="padding-left:93px;">'+
               '<div style="float:left;padding-left:0px;">'+
                   '<h5 id="vendorcomments"> vendor comments:</h5>'+
                   '<textarea name="vendorcomments" style="height: 80px;width: 500px;resize: none;" id='+'"'+'comt'+rowData.orderId+'"'+'>'+rowData.vendorcomments+'</textarea>'+
               '</div>'+
                '<div style="float:right;padding-right:0px;" >'+
                     '<h5 id="vendorcomments">receive comments:</h5>'+
                   '<textarea   readonly="readonly"  name="receivecomments"   style="outline:none;background:#ecf0f5;border:0px;height: 80px;width: 500px;resize: none;">'+rowData.receivecommets+'</textarea>'+
                '</div>'+
              '</div>'+
                '<br>'+
                '<div  align="center" style="clear:both;position:absolue;bottom:15px;">'+
                '<br>'+
                    '<button style="width:150px;" onclick="save(this.id)"  id='+'"'+'save-'+rowData.orderId+'"'+'type="submit">add Comments</button>'+
                '</div>');
            } else if (rowData.orderreceiveButton =='approved' ){
               $('#'+'ddv'+rowData.orderId).after('<div style="padding-left:93px;">'+
              '<div style="float:left;padding-left:0px;">'+
                   '<h5 id="vendorcomments"> vendor comments:</h5>'+
                   '<textarea  readonly="readonly" style="outline:none;background:#ecf0f5;border:0px;height: 80px;width: 500px;resize: none;">'+rowData.vendorcomments+'</textarea>'+
               '</div>'+
                '<div style="float:right;padding-right:0px;" >'+
                     '<h5 id="vendorcomments"> receive comments:</h5>'+
                   '<textarea   readonly="readonly"     style="outline:none;background:#ecf0f5;border:0px;height: 80px;width: 500px;resize: none;">'+rowData.receivecommets+'</textarea>'+
                '</div>'+
                     '</div>');
                }else{
                 $('#'+'ddv'+rowData.orderId).after('<div style="padding-left:93px;">'+
                 '<div style="float:left;padding-left:0px;">'+
                   '<h5 id="vendorcomments"> vendor comments:</h5>'+
                   '<textarea name="vendorcomments" style="height: 80px;width: 500px;resize: none;" id='+'"'+'comt'+rowData.orderId+'"'+'>'+rowData.vendorcomments+'</textarea>'+
               '</div>'+
                '<div style="float:right;padding-right:0px;" >'+
                     '<h5 id="vendorcomments"> receive comments:</h5>'+
                   '<textarea   readonly="readonly"  name="receivecomments"   style="outline:none;background:#ecf0f5;border:0px;height: 80px;width: 500px;resize: none;">'+rowData.receivecommets+'</textarea>'+
                '</div>'+
              '</div>'+
                '<br>'+
                '<div  align="center" style="clear:both;position:absolue;bottom:15px;">'+
                '<br>'+
                    '<button style="width:150px;" onclick="update(this.id)"  id='+'"'+'update-'+rowData.orderId+'"'+'type="button">Update Order</button>'+
                    '&nbsp;&nbsp;&nbsp;&nbsp;'+
                    '<button style="width:80px;" onclick="send(this.id)"  id='+'"'+'send-'+rowData.orderId+'"'+'type="button">Sent</button>'+
                '</div>');
            }
       }
    });
    return dit;
  }



    function save(event){
        var s=event.slice(5);
        var coms =$('#'+'comt'+s).val();
        $.ajax({
              url:'/collec/ajax_vendor_comment_save/',
              data:{'ordid':s,'coments':coms},
              success:function(data){
                    $('#status'+s).empty();
                    alert('updateComment succesful!');
                    window.location.href="/collec/submit/";
                     }
               });
  }

  function send(event){
      var s=event.slice(5);
      var coms =$('#'+'comt'+s).val();
        $.ajax({
              url:'/collec/ajax_vendor_send/',
              data:{'ordid':s,'coments':coms},
              success:function(data){
                   window.location.href="/collec/submit/";
                     }
               });
  }

  function update(event){
      var s=event.slice(7);
      window.location.href="/collec/updateOrder/"+s;
  }

    </script>
{% endblock %}
